.landing_page_outer_div{
  height: 80vh;
  width: 100vw;
  background-image: url(https://media.istockphoto.com/id/475797033/photo/sunlight-on-himalayan-mountain-range.jpg?s=612x612&w=0&k=20&c=GSMWx0pbDDFl-uhfVYC5mxc5XKZPOTjUs7Nvn6SjAx8=);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px 2px 20px 20px;
  color: rgb(191, 212, 207);
  transition:all 2000ms ease-in-out;
}
.landing_page_outer_div:hover{
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/063/100/small_2x/rear-view-portrait-of-young-man-traveler-with-backpack-standing-on-a-mountain-with-arms-spread-open-travel-life-style-and-adventure-concept-free-photo.jpg);
  color: rgb(228, 94, 27);
}
.slogan_div{
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan{
  overflow: hidden;
  font-size: 100px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
