.landing_page_outer_div{
  height: 100vh;
  width: 100vw;
  background-image: url(https://media.istockphoto.com/id/475797033/photo/sunlight-on-himalayan-mountain-range.jpg?s=612x612&w=0&k=20&c=GSMWx0pbDDFl-uhfVYC5mxc5XKZPOTjUs7Nvn6SjAx8=);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px 2px 20px 20px;
  color: rgb(177, 212, 235);
  transition:all 2000ms ease-in-out;
}
.landing_page_outer_div:hover{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNzS32LTfxaW9TSUSGpQvJclrqrlkqvHg1tA&s);
  color: white;
}
.slogan_div{
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan{
  overflow: hidden;
  font-size: 100px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.intro{
  font-size: 40px;
  padding: 80px 100px 10px 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.intro p{
box-shadow: 2px 2px 8px gray;
 border-radius: 10px;
 opacity: 0.7;
}

